rich>=9.12.4 # for colorful outputs, due more than 1 process at once
SoundFile>=0.10.3.post1
SoundCard>=0.4.0 # from source, not released in pypi yet
sounddevice>=0.4.1 
numpy>=1.20.1 # to handle audio as arrays
librosa>=0.7.2 # to resample